<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corral.androidshoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/carrito_icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carrito_icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityFamiliaList"
            android:exported="true"
            android:label="@string/title_activity_familia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFamiliaDetalle"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".ActivitySuperMercadoList"
            android:exported="true"
            android:label="@string/title_activity_super"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySuperMercadoDetalle"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity
            android:name=".ActivityListaList"
            android:exported="true"
            android:label="@string/title_activity_lista"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan">

        </activity>
        <activity android:name=".ActivityListaDetalle" />
        <activity
            android:name=".ActivityArticuloList"
            android:exported="true"
            android:label="@string/title_activity_articulo"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan">

        </activity>

        <activity
            android:name=".ActivityArticuloDetalle"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />

        <!-- El splash activity evita que el usuario se perciba del ColdStart -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>