<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corral.androidshoppinglist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivityFamiliaList"
            android:label="@string/title_activity_familia"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityFamiliaDetalle" />

        <activity
            android:name=".ActivitySuperMercadoList"
            android:label="@string/title_activity_familia"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivitySuperMercadoDetalle" />

        <activity
            android:name=".ActivityArticuloList"
            android:label="@string/title_activity_familia"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
        </activity>
        <activity android:name=".ActivityArticuloDetalle" />

    </application>

</manifest>